<div class="container py-4 navi">
  <div>
    <div class="container">
      <div class="d-flex justify-content-between">
        <app-logo></app-logo>
        <div class="d-flex aa">
          <ul class="nav">
            <app-admin-panel-btn></app-admin-panel-btn>
            <app-cart-btn></app-cart-btn>
            <app-login-btn></app-login-btn>
            <app-register-btn></app-register-btn>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container navi">
  <app-navbar></app-navbar>
</div>
